.md-activated {
	background-color: rgba(158,158,158,0.2);
}

section.layout-row {
	background: #f5f5f5;
}

.layout-padding{
	padding: 0;

}
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
	background-color: white;
}
.md-toolbar-tools{
	border-bottom: 1px #d8d8d8 solid!important;
}
md-input-container .md-input{
	border-color:white;
}
md-toolbar.md-hue-2:not(.md-menu-toolbar){
	border-color: white;
}
.layout-padding> ng-map {
	padding: 0px;
}
ng-map {
	width: 100%;
	height: 100%;
	/*border: 4px solid white;$*/
	padding: 0px;
	margin: 0 auto;
	/*box-shadow: 8px 8px 12px #aaa;*/
}
ng-map::-webkit-scrollbar {
	display: none;
}
body {
	background-color: #f5f5f5;
}

.main {
	background-color: #f5f5f5;
}

.md-button.md-fab {
	width: 50px;
	height: 50px;
}
.md-sidenav.md-locked-open.md-closed.md-sidenav-right {
	position: absolute;
	padding: 0px 15px;
}

.md-fab.button-poubelleverre {
	background-color: #f94b58;
}
.md-fab.button-voitureelec {
	background-color: #fec606;
}
.md-fab.button-velo {
	background-color: #3da4ab;
}

.md-fab.button-compost {
	background-color: #71ba51;
}

.md-fab.button-covoiturage {
	background-color: #f6a4be;
}
.md-fab.button-decheterie {
	background-color: #2980b9;
}
.md-fab.button-borneelec {
	background-color: #ff7416;
}
.md-fab.button-bennecarton {
	background-color: #3bbcd8;
}
.md-fab.button-pedibus {
	background-color: #47c9af;
}


.md-fab.button-triselectif {
	background-color: #9b4c05;
}

.md-fab.button-relais {
	background-color: #c94769;
}
.md-fab.button-divers {
	background-color: #c1c1c1;
}

.divButton {
	padding: 0px 5px;
	display: inline-block;
	width: 29%;
	text-align: center;
}

.labelCate{
	font-size: 12px;
	text-align: center;
	margin-top: 2px;
	font-weight: normal;
}
.md-sidenav-right md-toolbar{
	background-color: #ffffff;
	color: grey;
	text-align: center;
	padding-left: 112px;
	font-size: 33px;
}


md-sidenav.md-locked-open.md-closed.md-sidenav-right {
	padding: 0px 15px;
}

md-slider .md-track-container {
	height: 4px;
}

.md-track-container .md-track.md-track-fill {
	background-color: #71ba51;
}
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
	background-color: white;
}

.md-track-ticks {
	display: none;
}

md-slider.md-default-theme .md-thumb:after, md-slider .md-thumb:after {
	border-color: grey;
	background-color: white;
}
.dateSliderDebut {
	float: left;
	margin-bottom: 10px;
}
.dateSliderFin {
	float: right;
	margin-bottom: 10px;
}

.divSliderContainer {
	padding-top: 15px;
}
.layout-padding>.divButton {
	padding-left: 2px;
	padding-right: 2px;
}

button.md-fab.unchecked {
	background-color: rgba(0,0,0,0.12);
}
#license-footer {
	background-color:#71ba51;
	max-height: 42px;
	font-size: 12px;
}

#license-footer p {
	text-align: center;
	color: #ffffff;
}

#license-footer p a {
	text-decoration: none;
	color: inherit;
}

#license-footer p a:hover {
	text-decoration: none;
	color: #dcdcdc;
}

.showHideList md-list-item {
	background-color: #71ba51;
	border-top: 1px solid white;
	margin-bottom: 0;
}
.showHideList p {
	color: white;
}

.md-button.md-fab {
	line-height: 13px;

}
.menuPartager button {
	background-color: white;
	color: grey;
	height: 50px;
}
.md-menu-demo {
	padding: 24px; }
	.menu-demo-container {
		min-height: 200px; }

		.menuPartager .md-button {
			/*padding: 0px 22px;*/
		}
		.menuPartager .md-button g{
			fill: #87949c;
		}

		.menuPartager .md-button:hover g{
			fill: white;
		}
		.menuPartager md-icon {
			margin-right: 7px;
		}
		.menuPartager .md-button span {
			color: #87949c;
		}
		.md-button.md-raised:not([disabled]){
			box-shadow: none;
		}
		a.md-button.md-default-theme.md-raised, a.md-button.md-raised, .md-button.md-default-theme.md-raised, .md-button.md-raised{
			background-color: white;
			color: #87949c;
			font-size: 16px;
			text-transform: none;
			font-weight: normal;
		}
		.md-button.md-raised:not([disabled]):hover, a.md-button.buttonProject.md-raised:hover{
			background-color: #71ba51!important;
			color: white!important;
		}
		md-menu-content button md-icon svg g {
			fill: #87949c;
		}
		md-menu-content button span {
			color: #87949c;
		}
		.containerButtonProject button.buttonProject md-icon g{
			fill: #87949c;
		}
		.containerButtonProject button.buttonProject {
			color: #87949c;
		}

		.buttonProject img {
			vertical-align: middle;
			width: 40px;
		}
		.buttonProject {
			padding: 7px 18px
		}
		.baseline h1{
			font-weight: normal;
			font-size: 14px;
			color: #87949c;
		}

		md-icon.iconSearch g path {
			fill:#87949c;
		}
		.searchCity {
			width: 50%;
			margin-left: 20px;
		}
		md-input-container .md-input{
			width: 70%!important;
		}
		md-input-container.md-has-icon{
			padding-right: 80px!important;
		}
		md-dialog {
			min-width: 333px;
		}
		.md-dialog-container .md-toolbar-tools {
			background-color: #71ba51;
		}
		.md-open-menu-container {
			width: 147px;
		}
		@media (min-width: 960px) {


			md-menu-content[width="4"] {
				width: 148px;
				min-width: 148px;
				margin-right: 15px;
			}
			md-toolbar .menuPartager {
				width:166px;
				margin-left: -3px;
				position: relative;

			}
			md-toolbar .menuPartager button {
				margin-left: -7px;
				width: 138px;
			}
		}

		md-sidenav md-toolbar {
			min-height: 40px;
		}
		.md-sidenav-right md-divider {
			padding: 1px;
		}

		.md-sidenav-right .sliderRight {
			padding-top: 1px;
			padding-bottom: 1px;
		}

		.md-sidenav-right .selectAllZone {
			padding-top: 1px;
			padding-bottom: 1px;
		}

		.md-sidenav-right md-checkbox {
			margin-bottom: 0px;
		}

		.md-sidenav-right .labelCate {
			margin-bottom: 0px;
		}

		.png-icon {
			left: -5px;
			position: relative;
		}
		section[consent="cookie-disclaimer"] {
			background-color: rgba(45, 45, 45, 1);
			position: fixed;
			top: 0;
			z-index: 30000000;
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
			color:white;
		}

		section[consent="cookie-disclaimer"] h1 {
			margin: 0;
		}

		.visuallyhidden {
			position: absolute;
			overflow: hidden;
			clip: rect(0 0 0 0);
			height: 1px; width: 1px;
			margin: -1px; padding: 0; border: 0;
		}

		.cateArea .divButton .png-icon{
			width: 50px;
			height: 50px;

		}
		.cateArea .divButton:nth-child(12) .png-icon{
			width: 35px;
			height: 35px;
			left: 0px;
		}

		.showHideList md-radio-button .md-container .md-on {
			background-color: white;
			border-color: white;
		}

		.showHideList md-radio-button .md-container .md-off {
			border-color: white;
		}
		md-radio-button:not([disabled]).md-primary.md-checked .md-off {
			border-color: white;
		}

		.md-button.md-raised:not([disabled]):hover , a.md-button.buttonProject.md-raised:hover {
			background-color: rgba(110, 177,58,1);
			color: white;
		}

		a.md-button.buttonProject.md-raised:hover
		.md-button.md-raised:not([disabled]):hover span {
			color:white;
		}

		.md-button.md-raised:not([disabled]):hover a {
			color:white;
		}
		md-button.md-raised:not([disabled]) .mondeHover {
			display: none;
		}

		.mondeHover {
			display: none;
		}
		a.md-button.buttonProject.md-raised:hover  .mondeHover {
			display: inline;
		}
		.md-button.md-raised:not([disabled]):hover .mondeOk {
			display: none;
		}
		.md-button.md-raised:not([disabled]):hover md-icon {
			color:white;
		}
		.md-button:hover {
			color: white;
			background-color: grey;
		}

		.menuPartager .md-button:hover span {
			color: white;
		}


		.menuPartager:hover{
			color:red;
		}
		marker {
			font-size: 1.5em;
			padding: 10px;
			background: #fff;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			border: #7F7F7F solid 1px;
			position:absolute !important;
		}
		.radioGroup {
			padding: 0;
		}
		#footer {
			margin-top: 5px;
			min-height: 42px;
		}

		/*------------------------ le projet ------------------------*/
		.facebook{
			right: 5%;
			width: 340px;
			position: fixed;
			background-color: white;
			box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
			padding: 5px 5px 5px 5px;
		}

		.container_projet{
			width: 50%;
			position: relative;
			background-color: white;
			left: 5%;
			box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
			padding-left: 40px;
			padding-right: 40px;
			padding-top: 20px;
			color: #707171;
		}

		.iphone{
			width: 450px;
		}
		.couv{
			width: 100%;
		}
		.backmap{
			font-weight: normal;
			font-size: 14px;
			color: #87949c;
			padding: 22px;
		}
		.backmap:hover{
			background-color: #f5f5f5;
		}

		@media (max-width: 960px) {

			.container_projet{
				width: 95%!important;
				left: 0;
				position: relative;
				background-color: white;
				padding-left: 10px!important;
				padding-right: 10px!important;
				padding-top: 10px!important;
				color: #707171;
			}
			.iphone{
				width: 250px;
			}
		}

